# ana-related
output/
ana/output
ana/data/packages/*
ana/data/output
!ana/data/packages/example
ana/channels/*
!ana/channels/example
ana/packages/*
!ana/packages/common
!ana/packages/example

*.egg-info
.pytest_cache/
__pycache__/
*.hold


# don't put compiled or diff files in the repository
*.pyc
*.blend1
*.uni
*.vdb

# don't put graphics in the repository
*.png
*.tif
*.jpg
*.pkl
*.stl
*.data
*.dat
*.log
# no zip files
*.zip
*.rar
*.tar.gz
*.bz2
*.npz

# ignore vscode settings
*.vscode*
*.code-workspace

# ignore jupyter checkpoints
*checkpoint.ipynb

# ignore os-related files
.DS_Store
